<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php">
    <php>
        <env name="GEMINI_API_KEY" value=""/>
        <env name="OPENAI_API_KEY" value="" />
    </php>
    <testsuites>
        <testsuite name="Feature Test Suite">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit Test Suite">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
